img[src*="/api/v1/models/model/profile/image"][src*="theme=light"],
img[src*="/api/v1/models/model/profile/image"][src*="theme=dark"] {
  width: 81px !important;
  height: 65px !important;
}

@media (min-width: 640px) {
  img[src*="/api/v1/models/model/profile/image"][src*="theme=light"],
  img[src*="/api/v1/models/model/profile/image"][src*="theme=dark"] {
    width: 89px !important;
    height: 69px !important;
  }
}
