.github
.git
.DS_Store
docs
kubernetes
node_modules
/.svelte-kit
/build
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
**/__pycache__
.idea
venv
_old
uploads
.ipynb_checkpoints
**/*.db
.pytest_cache
cypress
_test
test
backend/open_webui/test
backend/data/*
