ADAPTER_UPSTREAM_BASE_URL=http://host.docker.internal:8081/v1
ADAPTER_UPSTREAM_API_KEY=
ADAPTER_UI_MODEL_ID=miniagent-chat
ADAPTER_UPSTREAM_MODEL_ID=deepagent
ADAPTER_TIMEOUT_SECONDS=120
ADAPTER_MODELS_TIMEOUT_SECONDS=2
ADAPTER_API_KEY=
